pkgbase = mesa-panfork-6-joshua-git
	pkgdesc = Libgl & gbm with panfrost for Mali G610
	pkgver = r164484.120202c6757
	pkgrel = 2
	url = https://gitlab.com/panfork/mesa
	arch = aarch64
	arch = armhf
	license = custom
	makedepends = meson
	makedepends = python-mako
	makedepends = bison
	makedepends = flex
	makedepends = cmake
	makedepends = libxfixes
	makedepends = libxxf86vm
	makedepends = lm_sensors
	makedepends = libxshmfence
	makedepends = wayland-protocols
	makedepends = libdrm
	makedepends = libxrandr
	makedepends = libglvnd
	options = !lto
	source = mesa::git+https://gitlab.com/panfork/mesa.git
	source = LICENSE
	source = 001-disable_native_fences.patch
	validpgpkeys = 8703B6700E7EE06D7A39B8D6EDAE37B02CEB490D
	validpgpkeys = 946D09B5E4C9845E63075FF1D961C596A7203456
	validpgpkeys = E3E8F480C52ADD73B278EE78E1ECBE07D7D70895
	validpgpkeys = A5CC9FEC93F2F837CB044912336909B6B25FADFA
	validpgpkeys = 71C4B75620BC75708B4BDB254C95FAAB3EB073EC
	validpgpkeys = 57551DE15B968F6341C248F68D8E31AFC32428A6
	sha512sums = SKIP
	sha512sums = f9f0d0ccf166fe6cb684478b6f1e1ab1f2850431c06aa041738563eb1808a004e52cdec823c103c9e180f03ffc083e95974d291353f0220fe52ae6d4897fecc7
	sha512sums = ce4a0eb414171e273583f366e586cfa0a31b851703ce423355956ec00654c838909d169f109ebaf83c7e0d551e66d0e0e68ce2011b33d6fdb944714efc8fff5b

pkgname = mesa-panfork-6-joshua-git
	depends = egl-wayland
	depends = libxfixes
	depends = libxxf86vm
	depends = lm_sensors
	depends = libxshmfence
	depends = libdrm
	depends = libxrandr
	depends = libglvnd
	provides = mesa-libgl
	provides = opengl-driver
	provides = mesa
	conflicts = mesa-libgl
	conflicts = mesa
