pkgbase = linux-aarch64-rockchip-bsp6.1-joshua-git
	pkgver = 6.1.43.r1266030.gd3e66fee
	pkgrel = 1
	url = https://github.com/Joshua-Riek
	arch = aarch64
	license = GPL2
	makedepends = cpio
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = dtc
	options = !strip
	source = git+https://github.com/Joshua-Riek/linux-rockchip.git#branch=rk-6.1-rkr1
	source = linux.preset
	source = localversion.config
	sha512sums = SKIP
	sha512sums = 2dc6b0ba8f7dbf19d2446c5c5f1823587de89f4e28e9595937dd51a87755099656f2acec50e3e2546ea633ad1bfd1c722e0c2b91eef1d609103d8abdc0a7cbaf
	sha512sums = 9ec050e491788b8428395fc28b6d8486d64d314d8b85e97d8df30a35bd7b85d2ed84682e7b2eaed7b471b73aa51119e360761a099719eed9952713e0caba17ce

pkgname = linux-aarch64-rockchip-bsp6.1-joshua-git
	pkgdesc = The linux-rockchip kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-aarch64-rockchip-bsp6.1-joshua-git.preset

pkgname = linux-aarch64-rockchip-bsp6.1-joshua-git-headers
	pkgdesc = Headers and scripts for building modules for the linux-rockchip kernel, with patches picked by Joshua Riek focusing on RK3588
	depends = python
